.Field {
  border: 1px solid #ccc;
}

.Field__cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}

.Field__cell_figure {
  background: tomato;
}

.Field__cell_fixed {
  background: limegreen;
}
